.place__title {
  margin: 0;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  grid-area: title;
}


@media screen  and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    padding: 0px;
  }
}

@media screen  and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    padding-top: 7px;
    padding-left: 5%;
    margin: 0px;
  }
}

@media screen  and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    padding-top: 7px;
    padding-left: 14px;
    
  }
}