.places {
  max-width: 984px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin:92px auto
}

@media screen  and (max-width: 768px) {
  .places {
    margin:88px 24px
  }
}
@media screen  and (max-width: 767px) {
  .places {
    margin:64px 10px
  }
}
@media screen  and (max-width: 566px) {
  .places {
    margin:64px 0px
  }
}