.intro__item{
  max-width: 690px;
  display: flex;
  flex-direction: column;
  
}



@media (max-width: 768px) {
  .intro__item {
   margin: 0 24px;
  }
}

@media (max-width: 767px) {
  .intro__item {
    margin: 0 16px;
  }
}