.place__image {
  width: 47.52%;
  padding-right: 40px;
}

@media(max-width: 1024px) {
  .place__image{
    width: 48.247%;
    padding-right: 32px;
    
  }
}

@media(max-width: 768px) {
  .place__image{
    width: 48.295%;       
    padding-right: 28px;
    
  }
}

@media(max-width: 320px) {
  .place__image {
    width: 100%;
    padding: 0;
  }
}
