.cover__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  max-width: 360px;
  align-self: center;
  padding-bottom: 245px;
 }

  @media(max-width: 1024px) {
    .cover__subtitle {
      padding-bottom: 195px;
      max-width: 35.15%;
    }
  }

  @media(max-width: 768px) {
    .cover__subtitle {
      padding-bottom: 115px;
      max-width: 46.9%;
    }
  }
  
  @media(max-width: 767px) {
    .cover__subtitle{
      font-size: 14px;
      line-height: 16px;
      max-width: 288px;
      padding-bottom: 33px;
    }
  }
  @media(max-width: 350px) {
    .cover__subtitle{
      font-size: 14px;
      line-height: 16px;
      max-width: 83%;
      margin: 0 auto;
    }
  }