.header{
  background-color: #2A2C2F;
  color:#FFFFFF;
  display: flex;
  justify-content: space-between;
  
  max-width: 92.5%;
  margin: 28px auto 0px;
  
}


@media screen and (max-width: 1024px) {
  .header {
    max-width: 90.11%;
    margin: 0 auto;
    padding-top: 28px;
    
  }
}


@media screen and (max-width: 768px) {
  .header {
    max-width: 93.2%;
    padding-top: 28px ;
  }
}


@media screen and (max-width: 767px) {
  .header {
    padding-top: 0px ;
  }
}

@media screen and (max-width: 350px) {
  .header {
    max-width: 288px;
    margin: 16px auto 0;
    padding: 0;
  }
}