.header__lang-links{
  margin:0;
  padding: 0;
  list-style:none;
  width: 78px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__lang-links{
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 350px) {
  .header__lang-links{
    max-width: 20%;
        margin-left: 0px;
  }
}