.header__lang_links{
  margin:0;
  padding: 0;
  list-style:none;
  width: 78px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__lang_links{
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 350px) {
  .header__lang_links{
    padding-top: -4px;
    margin-right: -10px;
  }
}