.header__lang_link {
  margin:0;
  display: block;
  width: 30px;
  height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  font-size:24px;
  line-height:1.16;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
}

.header__lang_link:hover{
  opacity: 0.5;
}

@media screen and (max-width: 1279px) {
  .header__lang_link{
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header__lang_link{
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang_link{
    margin-right: 16px;
  }
}

.header__lang_link:first-of-type{
  margin-right: 18px;
}
