.intro {
  display: flex;
  margin: 0 auto 92px;
  flex-direction: column;
  box-sizing: border-box;
  color: #ffffff;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}
@media (max-width: 950px) {
  .intro {
     margin-left: 3%;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 0px;
    margin-left: 0;
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .intro {
    margin:0 auto;
    padding-bottom: 0px;
  }
}