.intro {
  display: flex;
  margin: 0 auto 92px;
  flex-direction: column;
  
  box-sizing: border-box;
  color: #ffffff;
 
  max-width: 984px;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .intro {
    justify-content: center;
  }
}
