.cover {
  margin: 0px auto;
  max-width: 92.5%;
  padding: 0px;
 
}

@media(max-width: 1024px) {
  .cover {
    max-width: 1024px;
   
    
  }
}

@media(max-width: 767px) {
  .cover {
    padding: 66px 0px 64px;
  }
}