.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
  align-self: center;
  margin: 0;
  padding-top: 245px;
  padding-bottom: 32px;
  }

  @media(max-width: 1024px) {
    .cover__title {
      padding-top: 195px;
    }
  }

  @media(max-width: 768px) {
    .cover__title{
      padding-top: 115px;
      font-size: 72px;
      line-height: 76px;
    }
  }

  @media(max-width: 767px) {
    .cover__title{
      max-width: 420px;
      font-size: 54px;
      line-height: 58px;
    }
  }

  @media(max-width: 450px) {
    .cover__title {
      font-size: 37px;
      line-height: 35px;
      max-width: 65%;
      padding-top: 33px;
      padding-bottom: 16px;
    }
  }


  @media(max-width: 350px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      max-width: 75%;
      padding-top: 33px;
     
    }
  }
