.footer {
  display:flex;
  justify-content: space-between;
  max-width: 1184px;
  padding-top: 78px;
  padding-bottom: 24px;
  margin: 0 auto;
   
}

@media(max-width: 1279px) {
  .footer {
    
    max-width: 92%;
  }
}

@media(max-width: 1024px) {
  .footer {
    padding-top: 82px;
    max-width: 928px;
  }
}

@media(max-width: 950px) {
  .footer {
    max-width: 93%;
  }
}

@media(max-width: 768px) {
  .footer {
    padding-top: 50px;  
    max-width: 720px;
  }
}

@media(max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 0;
  }
}
