.place__paragraph-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 26px 0px;
  
  
}

@media(max-width: 768px) {
  .place__paragraph-text {
    font-size: 16px;

  }
}
@media(max-width: 320px) {
  .place__paragraph-text {
    margin: 32px 0 0;
    padding-right: 16px;
    padding-left: 16px;

  }
  .place__paragraph-text:last-of-type {
    margin: 25px 0 0;
  }
}
